<div class="w-100 justify-content-center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon Logo">
</div>

<div *ngIf="isPokemonSelected">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{selectedPokemon.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="getImgUrl(selectedPokemon)" alt="Photo of Pokemon">
    <mat-card-content>
      <ul *ngFor="let type of selectedPokemon.types">
        <li>{{type.type.name}}</li>
      </ul>
      <p>Altura: {{selectedPokemon.height}} cm</p>
      <p>Peso: {{selectedPokemon.weight}} kg</p>

    </mat-card-content>
  </mat-card>

</div>

<h4>Choose a Pokemon</h4>
<mat-form-field appearance="fill">
  <mat-label>Choose an option</mat-label>
  <select matNativeControl>
    <app-pokemon *ngFor="let pokemon of pokeList" [pokemon]="pokemon" (getPokemonDetailsEvent)="getPokemonSelected($event)"></app-pokemon>
  </select>
</mat-form-field>



