<div class="row">
  <div class="text-center row">
    <div class="mt-5 col-4">
      <mat-form-field appearance="fill">
        <mat-label>Select a fuel type</mat-label>
        <mat-select [(ngModel)]="fuelType" matNativeControl>
          <mat-option value=1>Gasoleo A</mat-option>
          <mat-option value=2>Gasolina 98 E5</mat-option>
          <mat-option value=3>Hidrógeno</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4 mt-5">
      <mat-form-field appearance="fill">
        <mat-label>Select desired provinces</mat-label>
        <mat-select (closed)="getAllMunicipalities(provincesSelected)" [(ngModel)]="provincesSelected" multiple>
          <mat-option *ngFor="let province of provincesList" [value]="province">{{province.Provincia}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="text-center col-4 mt-5">
      <form >
        <mat-form-field appearance="fill">
          <mat-label>Select desired municipality</mat-label>
          <input [(ngModel)]="municipalitySelected" class="text-dark" type="text" matInput [matAutocomplete]="auto" [formControl]="myControl"/>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let municipality of filteredOptions | async" [value]="municipality">
              {{municipality.Municipio}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

  </div>
  <div class="w-100 mt-3 text-center ">
    <mat-slider
      class="mt-3 w-75"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="2"
      step="0.005"
      min="1.5"
      max="2.4"
      aria-label="units"
      [(ngModel)]="max"
    ></mat-slider>
    <div class="w-100 text-center">
      <button
        class="btn btn-outline-success"
        (click)="filterByValue(max, fuelType)"
      >
        Filtrar
      </button>
    </div>
  </div>
  <div class="w-100" *ngIf="filteredList.length else noStations">
    <h3>Estaciones:</h3>
    <div *ngFor="let gasStation of filteredList" class="mt-5">
      <p>Nombre: {{ gasStation["Rótulo"] }}</p>
      <p>Dirección: {{ gasStation["Dirección"] }}</p>
      <p>Precio Gasoleo A: {{ gasStation["Precio Gasoleo A"] }} €</p>
      <p>Precio Gasolina 98 E5: {{ gasStation["Precio Gasolina 98 E5"] }} €</p>
      <p>Precio Hidrógeno: {{ gasStation["Precio Hidrogeno"] }} €</p>
      <p>Provincia: {{gasStation["Provincia"]}}</p>
      -------------------------------------------------------------
    </div>
  </div>

  <ng-template #noStations>
    <div class="mt-5 pt-2 text-center">
      <img width="50%" src="https://lh3.googleusercontent.com/a-/ACNPEu9ZPkKdJUzx83WRZkjlSUmpKJ7w2eFU6p5r4Pb2WQ=s75-c" alt="No hay gasolineras">
    </div>
  </ng-template>
</div>



