
<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-12 text-center mb-3 sticky-top bg-white pt-3">
      <span class="col-2" *ngFor="let in of counter() | paginate: {itemsPerPage: 1, currentPage: page}; let i = index"
      ><pagination-controls class="text-decoration-none" previousLabel="Prev"
      nextLabel="Next" (pageChange)="changePage($event)"></pagination-controls></span
    >
    </div>
    <mat-card class="example-card col-2 m-3" *ngFor="let actor of actorList">
      <img
        mat-card-image
        [src]="getPhotoUrl(actor.profile_path)"
        onerror="this.onerror = null; this.src = 'https://css2.rtve.es/css/rtve.2015.television/rtve.programas/poder-canijo/i/poder-canijo_aux.png'"
        alt="Foto personaje"
        width="50%"
      />
      <mat-card-content>
        <p class="text-center fw-bold" [ngStyle]="{ 'font-family': 'Roboto' }">
          {{ actor.name }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center d-grid">
        <button (click)="openActorDialog(actor)" mat-button class="btn btn-primary" [ngStyle]="{'font-family': 'Roboto'}"> + INFO</button>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
