<div class="container bg-white mt-5 rounded w-50">
  <form [formGroup]="newFormGroup" (ngSubmit)="onSubmit()">
    <legend class="p-3">Select the atributes of the new character</legend>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Name </mat-label>
        <input matInput formControlName="nameFormControl" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Height (cm)</mat-label>
        <input matInput formControlName="heightFormControl" type="number"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mass (kg)</mat-label>
        <input matInput formControlName="massFormControl" type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hair color</mat-label>
        <input matInput formControlName="hairColorFormControl" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Skin color</mat-label>
        <input matInput formControlName="skinColorFormControl" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Birth year</mat-label>
        <input matInput formControlName="birthYearFormControl" type="date"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="genderFormControl">
          <mat-placeholder>Select the gender</mat-placeholder>
          <mat-option value="female">Female</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="Non-binary">Non-binary</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Homeworld</mat-label>
        <mat-select formControlName="homeworldFormControl" (click)="getSortedList(planetsList)">
          <mat-placeholder>Select character homeworld</mat-placeholder>
          <mat-option [value]="planet.name" *ngFor="let planet of planetsList">{{planet.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="text-center p-3">
      <input class="btn btn-success px-5 py-3" type="submit" value="Create" [disabled]="!newFormGroup.valid" />
    </div>
  </form>
</div>
